version: '3'
services:
  flask:
    build: 
      context: .
      dockerfile: ./python/Dockerfile
    container_name: flask_container
    image: flask_img
    tty: true
    # カレントディレクトリとコンテナ内のuer/src/appをボリューム
    volumes:
      - ./:/usr/src/app
    ports:
      - "5000:5000"
  vue:
    build:
      context: .
      dockerfile: ./node/Dockerfile
    image: vue_img
    container_name: vue_container
    tty: true
    volumes:
      - ./:/usr/src/app
    ports:
      - "8080:8080"
      - "8000:8000"